snippet rcomp "React component" b
const ${1:/*name*/} = React.createClass({
	render: function() {
		$2
	},
});
endsnippet

snippet gulpt "Gulp task" b
gulp.task('${1:/*name*/}', function() {
	$2
});
endsnippet
