.cache/
elpa/
server/
auto-save-list/
transient/
url/
/eln-cache/
emojis/
games/
recentf
bookmarks
straight/*
!straight/versions/
custom.el
*.elc
network-security.data
.emacs.desktop
.emacs.desktop.lock
.lsp-session-*
