.cache/
elpa/
server/
auto-save-list/
transient/
url/
eln-cache/
emojis/
games/
org-persist/
projects/
straight/*
!straight/versions/
tramp
recentf
bookmarks
custom.el
*.elc
network-security.data
.emacs.desktop
.emacs.desktop.lock
