/.cache
/elpa
/eshell
/server
/auto-save-list
/anaconda-mode
/irony
/transient
/url
/eln-cache
/emojis
/games
recentf
custom.el
*.elc
network-security.data
bookmarks
.emacs.desktop
.emacs.desktop.lock
# It is usually symlinked to the original repo.
# Init file handles its absense well.
ra-emacs-lsp.el

.lsp-session-*